.main-content {
    background: var(--white-color);
    flex-grow: 1;
}

.main-content__container {
    margin: 0 auto;
    width: 90%;
    height: inherit;
    display: flex;
    flex-direction: column;
}

.main-content__next-frame {
    background: var(--green-color);
    border: 1px solid #4ca34c;
    box-sizing: border-box;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    margin-top: 53px;
    margin-bottom: 5%;
}
